<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1> This is insert_webpage form</h1>
        <form action="" method="POST">
            {% csrf_token %}



            <label for="topic"> topic_name</label>
            <select name="topic" id="topic">
                {% for to in topic %}
                <option value="{{to}}">{{to.topic_name}}</option>
                {% endfor %}
            </select><br><br>
            <label for="n">Name</label>
            <input type="text" name="n" id="n"> <br><br>

            <label for="url1">url</label>
            <input type="url" name="url1" id="url1"> <br><br>


            <label for="mail1">Email</label>
            <input type="email" name="mail1" id="mail1"><br><br>

            
            <input type="submit" value="insert_webpage">
            </form>

           

    </center>
</body>
</html>